# macOS
.DS_Store

# Xcode
build/
DerivedData/
*.xcuserstate
*.xcworkspace
xcuserdata/

# Swift Package Manager
.build/
Packages/

# CocoaPods
Pods/

# Archives
*.xcarchive

# Playgrounds
timeline.xctimeline
playground.xcworkspace
